@import url("https://fonts.googleapis.com/css2?family=Anton&family=Encode+Sans+Condensed:wght@100&family=Poiret+One&family=Press+Start+2P&family=Teko:wght@300&family=VT323&display=swap");
/* font-family: 'Anton', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'VT323', monospace; 
font-family: 'Teko', sans-serif;
font-family: 'Poiret One', cursive;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(23, 23, 23);
}

.profilPicture {
  justify-content: center;
  align-items: center;
}

.profilPicture img {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 2;
  align-items: center;
  margin: 5px 5px 5px 20px;
}

span {
  writing-mode: vertical-lr;
  vertical-align: text-bottom;
  color: #ffcb74;
}

.line1 {
  color: #fff;
  position: absolute;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  top: 30px;
  right: 200px;
  left: 100px;
  z-index: 2;
}

.squares {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.square {
  width: 1000px;
  height: 1000px;
  display: flex;
  position: absolute;
  right: -800px;
  transform: rotate(45deg);
  border: 0.1px solid rgba(255, 255, 255, 0.2);
  animation: 0.3s;
  z-index: -1;
}

.square2 {
  width: 1000px;
  height: 1000px;
  position: absolute;
  left: 200px;
  top: 550px;
  transform: rotate(45deg);
  border: 0.1px solid rgba(255, 255, 255, 0.2);
  animation: 0.3s;
  z-index: -1;
}

.squareActive {
  transform: rotate(45deg);
}

.choiceMenu {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-family: "Poiret One", cursive;
  list-style: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
  width: 80%;
}

.choiceMenu h1 {
  color: #fff;
  font-size: 30px;
  font-family: "Poiret One", cursive;
  text-align: center;
  text-transform: uppercase;
  filter: drop-shadow(0px 0px 30px #fff);
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choiceMenu h3 {
  color: #fff;
  font-size: 20px;
  font-family: "Poiret One", cursive;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 120px;
  padding: 10px;
  text-transform: uppercase;
  filter: drop-shadow(0px 0px 100px #fff);
  transform: rotate(-45deg);
}

.choiceMenu a {
  text-decoration: none;
  color: #fff;
  border: 1px dotted rgb(23, 23, 23);
  margin-left: 40px;
  justify-content: center;
  align-items: center;
}

.choiceMenu a:hover {
  text-decoration: none;
  color: #ffcb74;
  cursor: alias;
  filter: drop-shadow(0px 0px 25px #fff);
}

.navBar ul img {
  display: flex;
  width: 25px;
  height: 25px;
  filter: invert(100%);
}

.navBar {
  display: flex;
  flex-direction: row;
  position: fixed;
}

.navBar ul {
  display: flex;
  list-style: none;
  background-color: rgba(23, 23, 23, 0.8);
  width: 100vw;
  justify-content: end;
  z-index: 1;
}

.navBar ul li {
  margin: 15px;
  margin-top: 10px;
}

.navBar ul img:hover {
  filter: invert(70%);
}

.burger {
  display: none;
  position: absolute;
}

.page2 {
  position: absolute;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 450px;
}

.skills h1 {
  position: relative;
  margin-top: 800px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333;
  transition: 0.5s ease-in-out;
  font-family: "Anton", sans-serif;
  margin-bottom: 20px;
}

.wagon {
  position: relative;
}

.codecademy {
  position: relative;
}

.openclassrooms {
  position: relative;
}

.bgActive {
  background-color: #fff;
  transition: 0.8s ease-in-out;
}

.bgActive2 {
  background: #f3904f;
  color: #fff;
  transition: 0.8s ease-in-out;
}

.bgActive3 {
  background: #3b4371;
  transition: 0.8s ease-in-out;
}

#openclassrooms {
  color: #fff;
}

#codecademy {
  color: #3b4371;
}

.logoWagon {
  width: 80px;
  height: 80px;
  background-color: rgb(212, 49, 33);
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 90px;
}

.sectionWagon {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.logoCodecademy {
  position: relative;
  width: 140px;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 90px;
  background-color: rgb(252, 241, 230);
  display: flex;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sectionCodecademy {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.logoOpenclassrooms {
  width: 80px;
  height: 80px;
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 90px;
  margin-top: -20px;
}

.sectionOpenclassrooms {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

p {
  width: 100vw;
}

.wagonExplain {
  font-size: 30px;
  font-family: "VT323", monospace;
  width: 75vw;
}

.codecademyExplain {
  font-size: 30px;
  font-family: "VT323", monospace;
  width: 75vw;
  position: relative;
  left: 50%;
  transform: translate(-50%, 10%);
}

.openclassroomsExplain {
  font-size: 30px;
  font-family: "VT323", monospace;
  width: 75vw;
}

.footer {
  font-family: "Poiret One", cursive;
  margin-top: 800px;
  width: 100vw;
  text-align: center;
  font-size: 15px;
  justify-content: center;
  position: relative;
  bottom: 20px;
  margin-top: 800px;
}

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.footer-menu li {
  margin: 10px;
}

.footer-menu li a {
  text-decoration: none;
  color: #fff;
}

.footer-menu li a:hover {
  color: #ffcb74;
  filter: drop-shadow(0px 0px 20px #fff);
}

.choiceMenu2 {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: "Poiret One", cursive;
  list-style: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 200px;
}

.choiceMenu2 h1 {
  font-size: 30px;
  font-family: "Poiret One", cursive;
  text-align: center;
  text-transform: uppercase;
  filter: drop-shadow(0px 0px 30px #fff);
  width: 300px;
}

.choiceMenu2 h3 {
  color: #fff;
  font-size: 20px;
  font-family: "Poiret One", cursive;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  filter: drop-shadow(0px 0px 100px #fff);
  transform: rotate(-45deg);
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 120px;
  transition: 0.5s ease-in-out;
}

.choiceMenu2 a:hover {
  text-decoration: none;
  color: #ffcb74;
  cursor: alias;
  filter: drop-shadow(0px 0px 20px #fff);
}

#wagonExplainMore {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* -------------------------------------------- RESPONSIVE ----------------------------------------------- */

@media screen and (max-width: 700px) {
  .profilPicture {
    display: none;
  }

  .choiceMenu {
    display: flex;
    flex-direction: column;
  }

  .background2 {
    z-index: -1;
    position: absolute;
    border: 10px double rgba(255, 255, 255, 0.1);
    width: 100vw;
    height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .navBar ul img:hover {
    filter: invert(70%);
  }

  .logoWagon {
    margin-top: 20px;
  }

  #wagonExplainMore {
    display: flex;
    font-size: 18px;
  }

  .skills .wagon {
    margin-top: 800px;
    margin-bottom: 2px;
  }

  .skills .codecademy {
    margin-top: 0;
  }

  .skills {
    text-align: center;
  }

  .skills h1 {
    margin-top: 450px;
  }

  .choiceMenu {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: "Poiret One", cursive;
    list-style: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }

  .choiceMenu h1 {
    color: #fff;
    font-size: 30px;
    font-family: "Poiret One", cursive;
    text-align: center;
    text-transform: uppercase;
    filter: drop-shadow(0px 0px 30px #fff);
    width: 300px;
  }

  .choiceMenu h3 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 120px;
  }

  .choiceMenu a {
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .choiceMenu li {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .choiceMenu2 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: "Poiret One", cursive;
    list-style: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }

  .choiceMenu2 h1 {
    font-size: 30px;
    font-family: "Poiret One", cursive;
    text-align: center;
    text-transform: uppercase;
    filter: drop-shadow(0px 0px 30px #fff);
    width: 300px;
  }

  .choiceMenu2 h3 {
    color: #fff;
    font-size: 20px;
    font-family: "Poiret One", cursive;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    filter: drop-shadow(0px 0px 100px #fff);
    transform: rotate(-45deg);
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 120px;
    transition: 0.5s ease-in-out;
  }

  .choiceMenu2 a:hover {
    text-decoration: none;
    color: #ffcb74;
    cursor: alias;
    filter: drop-shadow(0px 0px 20px #fff);
  }

  .navBar ul img {
    margin-top: 15px;
  }

  .navBar ul {
    justify-content: center;
  }

  .navBar ul li {
    margin: 15px;
    margin-top: 10px;
  }

  .line1 {
    display: none;
  }
}
